/** BACKGROUND ON ALL PAGES **/
body {
    background-color: rgb(75, 74, 74);
    background-image: url(images/subtlenet-bluetex.png);
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: grey;
}



/** INDEX HERO IMAGE **/
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(images/hero-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/** INDEX HERO FONT **/
.hero h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: white;
}

.hero h2 {
    color:white;
    font-size: 2em;
}

.hero-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
    color: white;
}

.hero-font-2 {
    font-family: 'Montserrat', sans-serif;
}

.hero-font-3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
    color: white;
    font-size: 3em;
}

.hero-font-4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
    color: white;
    font-size: 2em;
}

.nav-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2em;
    color: white;
}

.fig-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1em;
}

.fig-font-2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: white;
}

.hero-font-italic {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.p-font {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.blue-font {
    color: #0e67b4;
}

.white-font {
    color: white;
}

/* CONTAINERS */

.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(images/subtlenet-bluetex.png);
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
    text-align: center;
}

.container-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    background-image: url(images/sublenet-white.png);
}

.container-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 50px;
    background-image: url(images/subtlenet-bluetex.png);
}

.container-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 40px;
    padding-bottom: 10px;
    background-image: url(images/sublenet-white.png);
}

/* WRAPS AROUND YOUTUBE VIDEO: https://flaviocopes.com/responsive-youtube-videos/ */
.video-container {
    display: flex;
    padding-left: 20rem;
    padding-bottom: 10rem;
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer-container-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
    background-image: url(images/sublenet-white.png);
}

.footer-container-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
    background-image: url(images/subtlenet-bluetex.png);
}

.figure-bg-1 {
    box-shadow: 12px 12px 2px 1px grey;
    margin-bottom: 20px;
}

.figure-bg-2 {
    box-shadow: 12px 12px 2px 1px white;
    margin-bottom: 20px;
    margin-left: 20px;
}

img {
    vertical-align: middle;
}

.bg-whitenet {
    background-image: url(images/sublenet-white.png);
    padding-top: 50px;
    padding-bottom: 50px;
}

.figcaption-bg-1 {
    background-color: #0e67b4;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
}

.figcaption-bg-2 {
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
}


footer li {
    list-style: none;   
}

.disclaimer {
    text-align: center;
    padding-top: 20px;
}

.disclaimer-home {
    text-align: center;
    padding-top: 20px;
    background-image: url(images/sublenet-white.png);
}

/** CONTAINER BREAK-POINTS **/
@media (max-width: 800px) {
    .container-1 {
    flex-direction: column;
    }
    .container-2 {
    flex-direction: column;
    }
    .container-3 {
    flex-direction: column;
    }
    .container-4 {
    flex-direction: column;
    }
    .video-container{
    margin-top: 2rem;
    padding-bottom: 10rem;
    padding-top: 10rem;
    }
    .footer-container-1 {
    flex-direction: column;
    }
    .footer-container-2 {
    flex-direction: column;
    }
}


/** START NAV **/
nav {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
    display: none;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .show-items {
    display: flex;
  }
  
  nav ul li a {
    color: white;
  }
  
  nav .toggle {
    align-self: flex-end;
    position: absolute;
    cursor: pointer;
  }

  
/* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    nav .menu-label {
      display: none;
      color: white;
    }
  
    nav ul {
      display: flex;
      flex-direction: row;
    }
  
    nav ul li {
      padding-right: 8px;
    }
  
    nav .toggle {
      display: none;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    nav ul  {
      width: 1200px;
      margin: 0 auto;
    }
  }
  

/** END NAV **/

/** START CONTACT FORM: https://www.freecodecamp.org/news/how-to-create-a-contact-form-with-css/ **/

/* Importing the Roboto font from Google Fonts. */
@import url("https://fonts.googleapis.com/css?family=Roboto:400");


/* Remove outline of all elements on focus */
*:focus {
	outline: 0;
}

h3 {
	text-align: center;
}

/* Add styles to 'container' class */
.container {
	padding: 12px 24px 24px 24px;
	margin: 48px 12px;
	background: #E3F2FD;
	border-radius: 4px;
}

/* Add styles to 'label' selector */
label {
	font-size: 0.85em;
	margin-left: 12px;
}

/* Add styles to 'input' and 'textarea' selectors */
input[type=text],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Add styles to show 'focus' of selector */
input[type=text]:focus,input[type=email]:focus, textarea:focus {
	border: 1px solid green;
}

/* Add styles to the submit button */
input[type=submit] {
	background: #64B5F6;
	margin: 0 auto;
	outline: 0;
	color: white;
	border: 0;
	padding: 12px 24px;
	border-radius: 4px;
	transition: all ease-in-out 0.1s;
	position: relative;
	display: inline-block;
	text-align: center;
}

/* Add styles for 'focus' property */
input[type=submit]:focus {
	background: #A5D6A7;
	color: whitesmoke;
}

/* Style 'hover' property */
input[type=submit]:hover {
	background: #2196F3;
}

/* Align items to center of the 'div' with the class 'center' */
.center {
	text-align: center;
}

/** END CONTACT FORMS **/

.imgresp {
    width: 100%;
    height: auto;
}

.imgresize {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

.imgresize-2 {
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.padding {
    padding-right: 10px;
    padding-left: 10px
}
